body{
    background-color: #f9f7fe;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}
a{
    color: rgb(210, 104, 210);
}

.weather-app{
    background: white;
    max-width: 600px;
    margin:50px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 20px;
    padding: 30px;
} 

header{
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}
.search-form-input{
    background-color: #f9f7fe;
    border: none;
    border-radius: 6px;
    width: 80%;
    padding: 15px 20px;
    font-size: 18px;

}
.search-button{
    background: rgb(210, 104, 210);
    margin-left: 5px;
    font-size: 18px;
padding: 15px 20px;
border: none;
border-radius: 6px;
color: white;
}
main{
    padding: 30px 0;
}
.weather-data{
    display: flex;
    justify-content: space-between;
}
.weather-city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}
.weather-details{
    font-size: 18px;
    line-height: 20px;
    font-weight: 500px;
    color: rgba(39, 33, 66, 0.4);
}
.weather-details strong{
    color: #f65282;
}
.weather-temperature-container{
    display: flex;
}
.weather-icon{
    width: 88px;
    height: 88px;
}
.weather-temperature{
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
}
.weather-unit{
    margin-top: 16px;
    font-size: 28px;
}
.weather-forecast{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.forecast-date{
    text-align: center;
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}

.forecast-icon{
    font-size: 38px;
    text-align: center;
}

.forecast-temperatures{
    text-align: center;
    color:#f65282;
    display: flex;
    justify-content: center;
}

.forecast-temperature{
    padding: 0 10px;
}

footer{
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
}